/fibo.iml
/.gradle/2.2/taskArtifacts/cache.properties
/.gradle/2.2/taskArtifacts/cache.properties.lock
/.gradle/2.2/taskArtifacts/fileHashes.bin
/.gradle/2.2/taskArtifacts/fileSnapshots.bin
/.gradle/2.2/taskArtifacts/outputFileStates.bin
/.gradle/2.2/taskArtifacts/taskArtifacts.bin
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/gradle.xml
/.idea/libraries/Gradle__junit_junit_4_11.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
